<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" 
          asp-href-include="~/lib/bootstrap/dist/css/bootstrap.min.css" 
          asp-href-exclude="**/*/*-reboot*,**/*-grid*"/> 
    <title>PicknPayOnlineLiquorStore</title>
</head>
<body>
    <div class="navbar navbar-inverse bg-inverse" role="navigation">
        <div class="row">
            <a class="col navbar-brand" href="#">Liquor Shop</a>
            <div class="col-4 text-right">
                @await Component.InvokeAsync("CartSummary")
            </div>
        </div>     
    </div>
    <div class="row m-1 p-1">
        <div id="categories" class="col-3">
            <!--Invoking the view for navigation menu component-->
            @await Component.InvokeAsync("NavigationMenu")
        </div>
        <div id="body" class="col-9">
            @RenderBody()
        </div>
    </div> 
    
</body>
</html>
